{
  "ditto": {
    "app-id": "your-app-id-here",
    "app-token": "your-app-token-here",
    "shared-key": "",
    "offline-token": "",
    "use_cloud": true,
    "use_lan": true,
    "use_ble": true,
    "bpa-url": "portal",

    "// comment": "The following are defaults if you omit the values",

    "produce-images": false,
    "img-height": "1080",
    "img-width": "1920",

    "// comment2": "Use 0 to run forever (until SIGINT)",
    "test-duration-sec": "60",
    "consumer-webui": true
  }
}
